nav{
    padding: 0 50px;
    font-size: 20px;
    background-color: rgb(39, 1, 1);
    box-shadow: 0px 5px 10px rgb(25, 0, 0);
}

.navbar-nav{
    display: flex;
    gap: 20px;
}

body{
    background-color: rgb(250, 234, 215)!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-content{
    background-color: rgb(250, 234, 215);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: brown;
    padding-top: 140px;
    padding-bottom: 70px;
}

#mail{
    width:380px;
    text-align: center;
}

#info{
    background-color: #eed2c0;
    border: #6a2c05 solid 2px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    height: 280px;
    align-items: center;
    padding-top: 20px;
    margin-top: 20px;
    gap: 30px;
}

#info input{
    background-color: #95725d;
    border: rgb(39, 1, 1);
    border-radius: 2px;
    text-align : center;
    color: rgb(255, 224, 208);
}

h2{
    color: rgb(65, 9, 9)
}
.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#accordion{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}

.specialist-choice{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

select{
    background-color: #eed2c0;
    border: #6a2c05;
    width: 300px;
    height: 40px;
    padding: 0 20px;
    color:#6a2c05; ;
}



.shortcut{
    color:brown!important;
}

.buttons{
    justify-content: center;
}

.buttons button{
    color: aliceblue;
    background-color: rgb(65, 9, 9) ;
    border: rgb(65, 9, 9) ;
    padding: 10px;
}
.separator{
    width: 30px;
}

.datepicker td, .datepicker th {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.85rem;
}

.datepicker {
    margin-bottom: 3rem;
}

.card {
    box-shadow: 0px 4px 8px 0px #7986CB;
}

.time-grid{
    padding-left: 100px;
}

input[data-provide=datepicker] {
      padding: 10px 20px !important;
      border: 1px solid #380707 !important;
      border-radius: 2px;
      box-sizing: border-box;
      background-color: #551313 !important;
      color: #fff7df !important;
      font-weight: bold;
      font-size: 16px;
      width: 400px;
      text-align: center;
}
  
input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #512DA8;
    outline-width: 0;
}
  
::placeholder {
      color: #fff;
      opacity: 1;
}
  
  :-ms-input-placeholder {
      color: #fff;
  }
  
  ::-ms-input-placeholder {
      color: #fff;
  }
  
  button:focus {
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      outline-width: 0;
  }
  
  .datepicker {
    background-color: #3b0d0d !important;
    color: #fff !important;
    border: none;
    padding: 10px !important;
  }
  
.datepicker-dropdown:after {
  border-bottom: 6px solid #000;
}
  
thead tr:nth-child(3) th {
    color: #fff !important;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
}
  
.dow, .old-day, .day, .new-day {
    width: 40px !important;
    height: 40px !important;
    border-radius: 0px !important;
}
  
.old-day:hover, .day:hover, .new-day:hover, .month:hover, .year:hover, .decade:hover, .century:hover {
    border-radius: 6px !important;
    background-color: #eee;
    color: #000;
}
  
.active {
    border-radius: 6px !important;
    background-image: #692504;
    color: #e8cecb !important;
}
  
.disabled {
    color: #616161 !important;
}
  
.prev, .next, .datepicker-switch {
    border-radius: 0 !important;
    padding: 20px 10px !important;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff !important;
    opacity: 0.8;
}
  
.prev:hover, .next:hover, .datepicker-switch:hover {
    background-color: inherit !important;
    opacity: 1;
}
  
.cell {
    border: 1px solid #BDBDBD;
    margin: 2px;
    cursor: pointer;
}
  
.cell:hover {
    border: 1px solid #692504;
}
  
.cell.select {
    background-color: #5c1515;
    color: #fff;
}
  

footer{
    background-color: rgb(31, 2, 2);
    height: 500px;
    color: rgb(245, 225, 222);
    padding: 50px 0 0 0px;
}

footer ul{
    list-style-type: none;
}
  
footer .container{
    padding-left: 80px
}
  
#footer-separator{
    border-left: solid rgb(79, 0, 0);
}